html, body {
  margin: 0;
  padding: 0;
}

pre {
  margin: 0;
  font-size: small;
}

header {
  background: var(--color-panel);
  border-bottom: 1px solid var(--gray-a4);
}

.radix-themes[data-has-background="true"] {
  background-image: radial-gradient(at top, var(--accent-1), var(--accent-3));
}

.capitalize {
  text-transform: capitalize;
}